
.table-generator-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.table-display {
  flex-grow: 1;
  overflow: auto;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #000;
}

input {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
}
